.SelectInputContainer {
  width: 100%;
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: var(--xl);
  margin-bottom: 20px;
}
.SelectInputContainer .search-inp {
  background: white url(../../assets/png/Union.png) right no-repeat; /*Your Image Link*/
  /* margin-left: -30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-right: 25px;
}

.SelectInputContainer .search-input-select {
  padding-right: var(--l);
  min-width: 400px;
}
