.s-datepicker {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.s-datepicker > .new-dt {
  position: relative;
}
.s-datepicker > .new-dt > input {
  font-size: var(--l);
  color: transparent;
}
.s-datepicker > .new-dt > span {
  font-size: var(--l);
  position: absolute;
  z-index: 2;
  left: 0;
  top: 12px;
  margin-left: 2px;
  background-color: var(--c1);
  height: 22px;
  width: 110px;
}
.s-datepicker img {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.unstyled {
  border-width: 0px !important;
  background-color: transparent;
  height: 35px;
  font-size: 16px;
  color: #706f6f;
  font-family: sans-serif;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  background: url("../../assets/png/Polygon.png") no-repeat;
  background-position: center;
  height: 30px;
  margin-left: -10px;
}
.unstyled:focus {
  outline: none;
}
.unstyled::after {
  background: url("../../assets/png/Polygon.png") no-repeat;
  background-position: center;
  width: 15px;
  height: 30px;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
