.nav-cont {
  width: 100vw;
  position: fixed;
  height: 73px;
  background-color: var(--c2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 25px;
  z-index: 3;
  box-shadow: 0px 2px 2px var(--c20);
}
.nav-cont > .nav-cont-lft img {
  width: 32px;
  height: 32px;
}
.nav-cont > .nav-cont-lft img:hover {
  cursor: pointer;
}
