:root {
  --c1: #fafafa;
  --c2: #ffffff;
  --c3: #dddfe2;
  --c4: #0000001f;
  --c5: #dce2eb;
  --c6: #706f6f;
  --c7: #3c3c3c;
  --c8: #a9abac;
  --c9: #ef5245;
  --c10: #54575a;
  --c11: #5d5d5d;
  --c12: #92d150;
  --c13: #0000001a;
  --c14: #c7ced5;
  --c15: #ebebeb;
  --c16: #e3e3e3;
  --c17: #21282e;
  --c18: #0000000d;
  --c19: #ededed;
  --c20: #0000000f;
  --c21: #f2f2f2;
  --c22: #4060af;
  --c23: #b99ff5;
  --c24: #ffd800;
  --s: 10px;
  --sl: 12px;
  --m: 14px;
  --l: 16px;
  --xl: 18px;
  --xxl: 20px;
  --xxxl: 28px;
}

.App {
  text-align: center;
  overflow-x: hidden;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
