.CardDetailedContainer {
  display: flex;
  max-width: 97vw;
  flex-direction: row;
  box-sizing: border-box;
}

.CardDetailedContainer > .pinned-sec {
  display: flex;
  float: left;
  flex-direction: row;
  overflow-x: scroll;
}

/* unpinned-sec-cont style */
.CardDetailedContainer > .unpinned-sec {
  width: fit-content;
  max-width: 1150px;
  width: 1150px;
  box-sizing: border-box;
  /* height: 30px; */
  display: flex;
  flex-direction: row;
}
.CardDetailedContainer > .unpinned-sec > .pev-icon {
  width: var(--xxxl);
  height: var(--xxxl);
  transform: rotate(-90deg);
  margin-top: 28px;
}
.CardDetailedContainer > .unpinned-sec > .next-icon {
  width: var(--xxxl);
  height: var(--xxxl);
  transform: rotate(90deg);
  margin-top: 28px;
}
.unpinned-sec-cont {
  width: 100%;
  max-width: 1090px;
  min-width: 1090px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

/* Card sections style */
.CardsSectionContainer {
  width: fit-content;
  height: 635px;
  min-width: 310px;
  max-height: auto;
  background-color: var(--c1);
  border: 1px solid var(--c5);
  border-radius: 5px;
  margin: 10px;
  margin-right: 0px;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.CardsSectionContainer > .pin-icon {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}
.CardsSectionContainer > .pin-icon > div > img {
  width: 33px;
  height: 33px;
}
.CardsSectionContainer > .pin-icon > div {
  /* position: relative; */
}
.CardsSectionContainer > .pin-icon > div > .t-tip {
  visibility: hidden;
  width: auto;
  background-color: var(--c2);
  text-align: center;
  padding-block: 13px;
  padding-inline: 17px;
  border: 1px solid var(--c3);
  border-radius: 4px;
  position: absolute;
  margin-top: -80px;
  z-index: 1;
}
.CardsSectionContainer > .pin-icon > div > .t-tip > span {
  color: var(--c11);
}
.CardsSectionContainer > .pin-icon > div > .t-tip > .warn {
  color: var(--c9);
  padding-left: 20px;
}
.CardsSectionContainer > .pin-icon > div > .t-tip > .warn::before {
  content: url(../../assets/svg/error_outline-24px.svg);
  position: absolute;
  left: 10px;
}
.CardsSectionContainer > .pin-icon > div:hover .t-tip {
  visibility: visible;
}
.CardsSectionContainer > .pin-icon > h1 {
  font-size: var(--xxl);
  color: var(--c10);
  margin: 0px;
}
.CardsSectionContainer-desable {
  border: 2px dashed var(--c5);
  background-color: var(--c2);
  stroke-dasharray: 10px;
  stroke-dashoffset: 10px;
}
.CardsSectionContainer::-webkit-scrollbar-track {
  background-color: var(--c1);
}

/* Expandable card */

.ExpCard {
  width: 300px;
  height: 119px;
  background-color: var(--c2);
  box-shadow: 0px 2px 2px var(--c13);
  border: 1px solid var(--c14);
  border-radius: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.exp-sec-one {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  height: 120px;
  border-bottom: 1px solid var(--c14);
}
.exp-sec-two {
  width: 100%;
  max-height: 272px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 15px;
}
.ExpCard-exp {
  height: auto;
}
.ExpCard-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ExpCard-header > h1 {
  font-size: var(--xxl);
  color: var(--c10);
  margin: 0px;
}
.ExpCard-header > img {
  height: 24px;
  width: 24px;
}

/* StatusIndicatorSection style */

.StatusIndicatorSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
}

/* StatusIndicator style */

.StatusIndicator {
  flex-direction: column;
}
.StatusIndicator > p {
  margin: 0px;
  font-size: var(--sl);
  margin-bottom: 4px;
  color: var(--c6);
}

.StatusIndicator > .ch-ind {
  width: 54px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  width: 71px;
}
.StatusIndicator > .ch-ind > span:nth-child(odd) {
  background-color: var(--c9);
  width: 24px;
  flex: 1;
  border-radius: 4px 0px 0px 4px;
  font-size: var(--sl);
}
.StatusIndicator > .ch-ind > span:nth-child(even) {
  background-color: var(--c15);
  flex: 2;
  height: 24px;
  border-radius: 0px 4px 4px 0px;
  font-size: var(--sl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.StatusIndicator > .ch-ind > .g-light {
  background-color: var(--c12) !important;
}

/* SubExpcardItem style */
.SubExpcardItem {
  width: 100%;
  box-sizing: border-box;
  height: 76px;
  border-radius: 4px;
  border: 1px solid var(--c16);
  background-color: var(--c2);
  margin-bottom: 10px;
  padding: 10px;
}
.exp-sec-two > .SubExpcardItem:nth-child(odd) {
  border-left: 4px solid #b99ff5;
}
.exp-sec-two > .SubExpcardItem:nth-child(even) {
  border-left: 4px solid var(--c24);
}
.exp-sec-two > .SubExpcardItem > .sub-e-head {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.exp-sec-two > .SubExpcardItem > .sub-e-head > strong {
  font-size: var(--sl);
}
.exp-sec-two > .SubExpcardItem > .sub-e-cont {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  max-height: 28px !important;
}
.exp-sec-two > .SubExpcardItem > .sub-e-cont > button {
  width: 133px;
  height: 26px;
  border-radius: 4px;
  background-color: var(--c15);
  border: none;
  color: var(--c10);
  font-size: var(--sl);
  text-align: center;
  text-decoration: none;
  padding-block: 7px;
  display: inline-block;
}
.exp-sec-two > .SubExpcardItem > .sub-e-cont > p {
  max-width: fit-content;
  min-width: 120px;
  font-size: var(--sl);
  color: var(--c3);
}
.exp-sec-two > .SubExpcardItem > .sub-e-cont > .warn {
  background-color: var(--c9) !important;
  color: var(--c2);
}

/* Scroll view style */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--c2);
}
::-webkit-scrollbar-thumb {
  background: var(--c15);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
